import("cMAP")
import("graph")
import("methods")
import("RColorBrewer")

importMethodsFrom("Rgraphviz", "plot")

importFrom("AnnotationDbi", "mget")
importFrom("stats4", "plot")

export(
  "rendercMAPPathway" , "graphcMAP", "pwayRendAttrs",
  "reduceES", "plotExGraph", "colorNodes"
)

exportClasses( "pwayGraph", "coloredGraph" )

exportMethods( "plot" )

