import("graph")
importMethodsFrom("Rgraphviz", "plot")

importFrom("AnnotationDbi", "mget")
importFrom("graphics", "plot")

export(
  "rendercMAPPathway" , "graphcMAP", "pwayRendAttrs",
  "reduceES", "plotExGraph", "colorNodes"
)

exportClasses( "pwayGraph", "coloredGraph" )

exportMethods( "plot" )

