import("graph")

importFrom("AnnotationDbi", "mget")

export(
  "rendercMAPPathway" , "graphcMAP", "pwayRendAttrs",
  "reduceES", "plotExGraph", "colorNodes"
)

exportClasses( "pwayGraph", "coloredGraph" )

exportMethods( "plot" )

